<div class="page-header">
  <div class="top">
 <h1>編集する</h1>
  </div>
</div>
<div class="container">
　<div class="row">
   <div id="new-post-link">
        <%=form_with(model:@post,local:true,url:choose_new_or_edit) do |form|%>
          <%if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= @post.errors.count %>件のエラーがあります。。</h2>
              <ul>
                <% @post.errors.full_messages.each do|msg|%>
                <li><%=msg%></li>
              <% end %>
              </ul>
            </div>
         <% end %>
     </div>
  <form>
    <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
        <div class="form-group">
         <label>内容</label>
         <%= form.text_field :content,:class => "form-control" %>
        </div>
         <%=form.submit "投稿する",class:'btn btn-primary' %>
        <% end %>
 　  </div>
    </div>
   </div>
  </div>
</form>
